DATABASE_URL=postgres://postgres:mysecretpassword@localhost:5432/open-health
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_USER=postgres
POSTGRES_DB=open-health
AUTH_SECRET=NMKtKt29S8bYhbGRteHWurxlOSPXVg+DPswqNcZVZdA=
AUTH_TRUST_HOST=http://localhost:3000
